.custom-range::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-ms-thumb {
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #5c5c5c;
  border-radius: 4px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  accent-color: rgb(34 197 94) !important;
}

.custom-range:hover {
  opacity: 1;
}

input[type="radio"]:checked {
  accent-color: green !important;
}

input[type="checkbox"]:checked {
  accent-color: green !important;
}

#red:checked {
  accent-color: rgb(239 68 68) !important;
}
#blue:checked {
  accent-color: #3b82f6 !important;
}
#green:checked {
  accent-color: rgb(34 197 94) !important;
}
#black:checked {
  accent-color: black !important;
}
#white:checked {
  accent-color: rgb(230, 230, 230) !important;
}

#filter {
  top: 50%;
  margin: 0px auto !important;
  transform: translateY(-50%);
}

input[type="checkbox"],
input[type="radio"] {
  width: 16px;
  height: 16px;
}

.product {
  height: 400px !important;
  width: 284px !important;
  margin: 15px;
  display: flex;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-direction: column;
  background-color: #dde0e6;
  transition-duration: 300ms;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.6),
    0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}
.product:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0), 0 4px 6px -2px rgba(0, 0, 0) !important;
}
.product > div {
  height: 200px !important;
  width: 100% !important;
  margin: auto;
  padding: 0px 10px;
}
.product > .prod-img > img {
  width: 100% !important;
  height: 100% !important;
  padding: 0 5px;
  object-fit: contain;
  background-color: transparent !important;
  mix-blend-mode: multiply !important;
}

.prod-curr-price {
  color: rgb(34 197 94) !important;
}
.prev-price {
  color: rgb(248 113 113) !important;
}
.product-details {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  flex: 1 1 0% !important;
}
.product-title {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 1;
  text-align: justify;
  color: #000000;
  text-transform: capitalize;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.product-price {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}
.product-center {
  display: flex;
  align-items: center;
}
.product-rate {
  margin-right: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #374151;
}
.rate-img {
  width: 1rem;
  height: 1rem;
}
.product-colors {
  display: flex;
  margin-top: 5px;
  margin-bottom: 12px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.prod-cloth-size {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-right: 0.5rem;
  width: fit-content;
  text-align: center;
  border-radius: 2px;
  border-width: 1px;
  border-color: #4b5563;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: #9ca3af;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.prod-cloth-size.selected-size {
  background-color: #ffffff;
  color: #000000;
  transform: scale(1.2);
}
.prod-cloth-size:hover {
  background-color: #ffffff;
  color: #000000;
}
.prod-cloth-color {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  border-radius: 9999px;
  width: 1rem;
  height: 1rem;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.prod-cloth-color.selected {
  border-color: black;
  border-radius: 0;
  transform: scale(1.4);
  transition: all 0.2s ease-in-out;
}
.prod-cloth-color:hover {
  transform: scale(1.3);
}
#addToCartBtn {
  position: absolute;
  bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  color: #ffffff;
  background-color: #3b82f6;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.single-prod-img {
  width: 100%;
  height: 100%;
  padding: 5px;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.single-size-selected {
  background-color: #ffffff;
  color: #000000;
  transform: scale(1.3);
}
.single-color-selected {
  border-radius: none;
  transform: scale(1.3);
}
