@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
.checkbox-container {
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .order-detail-img {
    height: 100px !important;
    width: 122px !important;
    object-fit: contain;
    object-position: center !important;
  }
}
